# Dependencies
node_modules/

# Environment variables & secrets
.env

# System files & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Build outputs or local caches
.cache/
dist/

